            <button type="button" id="delete-profile-button"><i class="fas fa-times"></i></button>

            <div id="modal-backdrop" class="hidden"></div>
            <div id="delete-profile-modal" class="hidden">
              <div class="modal-dialog">

                <div class="modal-header">
                  <h3>Delete a Profile</h3>
                  <button type="button" class="modal-close-button">&times;</button>
                </div>

                <div class="modal-body">
                  <div class="profile-input-element">
                    <label for="profile-delete-input">Profile Name</label>
                    <textarea id="profile-delete-input"></textarea>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="delete-cancel-button">Cancel</button>
                  <button type="button" class="modal-delete-button">Delete Profile</button>
                </div>

              </div>
            </div>
