    <header>
      <!-- The <i> tag below includes the lizzard hand icon from Font Awesome -->
      <!-- <a href="#"><h1 class="site-title"><i class="far fa-hand-lizard"></i> Lizard Love</h1></a> -->

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="#">Home</a></li>
          <li class="navitem navlink"><a href="#">Lizards</a></li>
          <li class="navitem navlink"><a href="#">Snakes</a></li>
          <button type="button" id="create-profile-button"><i class="fas fa-user-plus"></i></button>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
    </header>
