<article class="profile">
    <div class="profile-content">
        <p class = "profile-name">
            {{name}}
        </p>
        <p class = "photo-container">
            <img class = "profile-photo" src ="{{photoURL}}"/>
        </p>
        <p class="profile-text">
            {{text}}
        </p>
    </div>
</article>
