<article class="profile">
    <div class="profile-content">
        <p class = "profile-name">
            {{name}}
        </p>
        <p class = "photo-container">
            <img class = "profile-photo" src ="{{photoURL}}"/>
        </p>
        <p class="profile-description">
            {{description}}
        </p>
    </div>
    <button type="button" id="like-button"><i class="fas fa-heart"></i></button>
</article>
