<article class="profile">
    <div class="profile-content">
        <div class ="title-content">
            <p class = "profile-name">
                {{name}}
            </p>
            <button type="button" id="delete-profile-button"><i class="fas fa-times"></i></button>
        </div>
        <p class = "photo-container">
            <img class = "profile-photo" src ="{{photoURL}}"/>
        </p>
        <p class="profile-description">
            {{description}}
        </p>
    </div>
    <div class = "heart-content">
        <button type="button" id="like-button"><i class="fas fa-heart"></i></button>
        <p class = "hearts">
            {{hearts}}
        </p>
    </div>
</article>
