{{> header}}

<main class = "profile-container">
    {{#each profile}}
        {{> profileTemplate}}
    {{/each}}
</main>

<button type="button" id="create-profile-button"><i class="fas fa-user-plus"></i></button>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-profile-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a Profile</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="profile-input-element">
        <label for="profile-name-input">Profile Name</label>
        <textarea id="profile-name-input"></textarea>
      </div>
      <div class="profile-input-element">
        <label for="profile-photo-input">Profile Photo URL</label>
        <input type="text" id="profile-photo-input">
      </div>
      <div class="profile-input-element">
        <label for="profile-description-input">Profile Description</label>
        <input type="text" id="profile-description-input">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Profile</button>
    </div>

  </div>
</div>
